* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* :root {
  --primary: #404298;
  --secondary: #f1f1f9;
  --tertiary: #b7b8d7;
  --font-color: rgba(7, 8, 9, 0.8);
  --primary-font: 'Texturina', serif;
  --secondary-font: 'Plus Jakarta Sans', sans-serif;
} */

.landing-main {
  background-image: url("../src/images/landingbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8% 4%;
  align-items: center;
}

.app-logo {
  height: 5rem;
  width: 5rem;
}

#get-started {
  background: linear-gradient(90deg, #9C276C 0.62%, #6D2B79 51.8%, #21318F 94.73%);
  border: 2px solid #015EBF;
  box-shadow: 0px 20px 35px rgba(63, 26, 75, 0.14);
  border-radius: 12px;
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.landing-body {
  display: flex;
  flex-direction: column;
  margin: 2rem 5rem ;
  background-image: url(../src/images/spiral.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 120%;
}

.landing-body .primary-text h1{
  font-size: 2.5rem;
  text-align: center;
}

.landing-body .primary-text p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: .5rem;
}

.landing-body img {
  margin:2rem 0 7rem 0;
}

#login-btn {
  background: #DD086C;
border: 1px solid #015EBF;
border-radius: 10px;
padding: 1.2rem 2.5rem;
color: white;
font-size: 1.2rem;
width: 100%;
}

footer p {
  text-align: center;
  margin-top: 3rem;
}

/* login page  */
.login-main {
  margin: 16% 14%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.left .mobile-signhide{
   display: none;
}

.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.left .app-logo{
  height: 7rem;
  width: 7rem;
}

.login-opt {
  display: flex;
  gap: 2.4rem;
  font-size: .8rem;
  background: #FFFFFF;
border: 1px solid #C2C8D0;
border-radius: 2px;
padding: .7rem ;
cursor: pointer;
}

.login-opt:hover {
  transform: scale(0.9);
}
.login-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.hori {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

hr {
  rotate: 90deg;
  height: 5rem;
}

.create-body form,
.login-body form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-body form input {
  padding: 1rem;
  border: 2px solid #C2C8D0;
}

.login-body form input:focus {
  border: 2px solid #005EBF;;
}

.login-body form button {
  background: #005EBF;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 2px;
padding: 1rem 3rem;
color: white;
font-size: 1rem;
width: 100%;
}

.login-body h4 {
  text-align: left;
  font-size: 1rem;
  margin-top: 1rem;
}

.login-body h4 span {
  color:#005EBF;
  cursor: pointer;
}

.create-body form {
  gap: 1.5rem;
}